@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #3498db;
  --secondary-color: #f7f7f7;
  --secondary-color-light: #ffffff;
  --text-light: #666666;
  --white: #ffffff;
  --black: #000000;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo{
  height: 1%;
  width: 1%;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem 1rem;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.section__subheader {
  position: relative;
  isolation: isolate;
  margin-bottom: 1rem;
  padding-left: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-light);
}

.section__subheader::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 45px;
  aspect-ratio: 1;
  background-color: var(--primary-color);
  z-index: -1;
}



.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.75rem 1.5rem;
  outline: none;
  font-size: 1rem;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn__secondary {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn__primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn2{
  display: flex;
  gap: 10px;
  padding: 0.75rem 1.5rem;
  outline: none;
  font-size: 1rem;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.show_more{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

a{
  color: var(--primary-color);
}

#show-more-btn{
  margin-bottom: 5%;
}

.blog .section__container .blog__container .blog__grid2{
  display:none;
}

.blog .section__container .blog__container .blog__grid2:nth-child(1),
.blog .section__container .blog__container .blog__grid2:nth-child(2),
.blog .section__container .blog__container .blog__grid2:nth-child(3){
  display: grid;
}

.btn span {
  font-size: 1.2rem;
  transition: 0.3s;
}

.btn:hover span {
  transform: translateX(5px);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-light);
  background-color: var(--secondary-color);
}

header {
  background-color: var(--secondary-color);
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo a {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
}
.nav__logo{
  height: 10%;
  width: 10%;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}


.link a {
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
}

.nav__menu__btn {
  display: none;
  font-size: 1.5rem;
}

.header__container {
  background-image: linear-gradient(
      to right,
      rgba(41, 41, 41, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("assets/header.jpg");
    padding-block: 15rem 10rem;
    max-width: 100rem;

}

.header__container h1 {
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: white;
}

.header__container .btn {
  margin: auto;
}

.about {
  background-color: var(--secondary-color-light);
}

.about__container {
  padding-block: 0;
  margin-top: 10rem;
}

.about__grid {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 4rem;
  align-items: center;
  background-color: var(--secondary-color);
  transform: translateY(-5rem);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about__content .section__header {
  margin-bottom: 1rem;
}

.about__content .para {
  color: var(--text-light);
  font-size: 0.8rem;
  font-weight: 300;
}

.about__list {
  display: grid;
  gap: 2rem;
}

.about__item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.about__item span {
  padding: 13px 20px;
  font-size: 1.75rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.about__item h4 {
  font-size: 1rem;
  font-weight: 500;
}

.stats {
  background-color: var(--secondary-color-light);
}

.stats__container {
  display: grid;
 grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.stats__content .section__header {
  margin-bottom: 1rem;
}

.stats__content .para {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.stats__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.stats__card span {
  font-size: 1.75rem;
  color: var(--primary-color);
}

.stats__card h4 {
  font-size: 2rem;
  font-weight: 700;
}

.stats__card p {
  font-weight: 500;
}

.stats__image {
  display: grid;
  gap: 2rem;
}

.stats__image img {
  max-width: 450px;
  margin: auto;
  border-radius: 5px;
}

.banner {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.8)
    ),
    url("assets/banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
 /* about frp products section */
.about_frp{
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-color);
}

/* about frp ends */

.banner__content {
  max-width: 800px;
}

.banner__content .section__header {
  margin-bottom: 1rem;
}

.banner__content .para {
  max-width: 600px;
  margin-bottom: 2rem;
}

.banner__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.blog {
  background-color: var(--secondary-color);
  padding-block: 5rem 10rem;
}

.blog__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.blog__grid2 {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}


.blog__card img {
  margin-bottom: 1rem;
  border-radius: 5px;
}

.blog__card > div {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.blog__card div span {
  font-size: 0.9rem;
  color: var(--text-light);
}

.blog__card div span i {
  margin-right: 5px;
  font-size: 1rem;
  color: var(--primary-color);
}

.blog__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.blog__card p {
  color: var(--text-light);
}

.subscribe {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.8)
    ),
    url("assets/subscribe.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe__container {
  max-width: 700px;
  text-align: center;
}

.subscribe__container .section__subheader {
  max-width: fit-content;
  margin-inline: auto;
}

.subscribe__container form {
  margin-block: 2rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.subscribe__container input {
  flex: 1;
  width: 100%;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.subscribe__container .btn {
  flex: 1;
  justify-content: center;
}

.subscribe__container .para a {
  color: var(--primary-color);
}

.customer {
  background-color: var(--secondary-color-light);
}

.customer__container .para {
  margin-block: 1rem 4rem;
  color: var(--text-light);
}

.swiper {
  width: 100%;
  padding-bottom: 4rem;
}

.customer__review .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.customer__review__card {
  position: relative;
  isolation: isolate;
  max-width: 600px;
  margin-inline: auto;
  text-align: center;
}

.customer__review__card span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 6rem;
  line-height: 4rem;
  color: var(--primary-color);
  opacity: 0.1;
}

.customer__review__card p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.customer__review__details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.customer__review__details img {
  max-width: 70px;
  border-radius: 100%;
}

.customer__review__details h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.customer__review__details h5 {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--text-light);
}

.footer {
  background-color: var(--secondary-color-light);
}

.footer__container {
  display: grid;
  grid-template-columns: 1.5fr repeat(3, 1fr);
  gap: 2rem;
}

.footer__col h5 a {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.footer__col p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer__socials a {
  padding: 5px 10px;
  font-size: 1.25rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.footer__socials a:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.footer__links a {
  margin-bottom: 1rem;
  display: flex;
  color: var(--text-light);
  transition: 0.3s;
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.8rem;
  text-align: center;
  color: var(--text-light);
}


/* styling for terms&conditions page */
body {
  font-family: "Poppins", sans-serif;
  color: var(--text-light);
  background-color: var(--secondary-color);
}

.section__header {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.para {
  color: var(--text-light);
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* css for more information about comapnay page */
.section__header2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.terms{
  padding: 30px 10px;
}





/* Industries we Serve Section */
.industries-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #e0e7ed;
}

.section-title {
  font-size: 2.5em;
  color: #1a1a4b;
  margin-bottom: 50px;
}

.industries-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.industry-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  text-align: center;
  padding: 20px;
  position: relative;
  transition: transform 0.3s ease;
}

.industry-box img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.industry-box h2 {
  font-size: 1.2em;
  margin: 20px 0;
  color: #333;
}

.plus-icon {
  font-size: 2em;
  color: #1a1a4b;
  cursor: pointer;
}

.industry-box:hover {
  transform: scale(1.05);
}

.industry-info {
  display: none;
  background-color: #f9f9f9;
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid #ddd;
  color: #333;
  text-align: left;
  font-size: 0.9em;
  border-radius: 5px;
}

/*industries we serve css ends*/

/*products page css starts*/
.products-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #e0e7ed;
}

.section-title {
  font-size: 2.5em;
  color: #1a1a4b;
  margin-bottom: 50px;
}

.products-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.product-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
}

.product-box img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.product-box h2 {
  font-size: 1.2em;
  margin: 20px 0;
  color: #333;
}

.plus-icon {
  font-size: 2em;
  color: #1a1a4b;
  cursor: pointer;
}

.product-box:hover {
  transform: scale(1.05);
}
/*products page css ends*/



/* why ppillp starts*/

.why-cpe {
  text-align: center;
  padding: 50px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 32px;
  color: #27286c;
  margin-bottom: 40px;
}

.icons-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
  justify-items: center;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 150px;
}

.icon-box img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.icon-box p {
  font-size: 16px;
  color: #3c3c3c;
  margin-top: 10px;
}

/* why ppillp ends*/


/* Logo Moving*/
.logo-carousel {
  background-color: #f5f5f5;
  padding: 2rem 0;
  overflow: hidden; /* Hide overflow */
}

.logo-carousel__track {
  display: flex;
  width: max-content; /* Ensures track takes the width of all logos */
  animation: scroll 30s linear infinite; /* Animation for continuous scroll */
}

.logo-carousel__slide {
  min-width: 150px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.logo-carousel__slide:hover {
  opacity: 1;
}

.logo-carousel__slide img {
  width: 100px; /* Set a fixed width for all logos */
  height: 100px; /* Set a fixed height for all logos */
  object-fit: contain; /* Ensure logos maintain aspect ratio within the fixed size */
  display: block;
}

@keyframes scroll {
  0% {
    transform: translateX(0); /* Start from the initial position */
  }
  100% {
    transform: translateX(-50%); /* Scroll halfway to trigger the loop */
  }
}

/* Optional Media Query for smaller screens */
@media (max-width: 768px) {
  .logo-carousel__track {
    gap: 1rem;
  }

  .logo-carousel__slide img {
    width: 100px; /* Smaller width on mobile */
    height: 75px; /* Smaller height on mobile */
  }
}
















/*media Queries */
/* Responsive */
@media (max-width: 1200px) {
  .icons-container {
      grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .icons-container {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .icons-container {
      grid-template-columns: repeat(2, 1fr);
  }
}








@media (width < 900px) {
  .nav__links {
    gap: 1.5rem;
  }

  .nav__logo{
    height: 20%;
    width: 20%;
  }
  .about__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .stats__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .stats__image {
    grid-area: 1/1/2/2;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .blog__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }

  .footer__container {
    grid-template-columns: 2fr 1fr;
  }
}


@media (width < 600px) {
  nav {
    position: fixed;
    width: 100%;
    padding: 1rem;
    background-color: var(--secondary-color);
    z-index: 99;
  }

  .nav__logo{
    height: 20%;
    width: 20%;
  }
  
  .nav__links {
    position: absolute;
    left: 0;
    top: 68px;
    padding: 2rem;
    width: 100%;
    flex-direction: column;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .nav__links .link a {
    opacity: 0;
  }

  .nav__links.open .link a {
    opacity: 1;
  }

  .nav__links.open {
    transform: scaleY(1);
  }

  .nav__menu__btn {
    display: block;
  }

  .header__container h1 {
    margin-top: 4rem;
    font-size: 3.5rem;
  }

  .stats__image {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .subscribe__container form {
    flex-direction: column;
  }

  .subscribe__container .btn {
    width: 100%;
  }
}



/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding: 1rem;
  }

  .nav__links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
    z-index: 100;
  }
  .nav__logo{
    height: 20%;
    width: 20%;
  }

  .nav__links.open {
    transform: scaleY(1);
  }

  .nav__links .link a {
    padding: 1rem;
    opacity: 1;
  }

  .nav__menu__btn {
    display: block;
  }
}